<!--The content below is only a placeholder and can be replaced.-->


<section class="logo">
  <img class="logo-img" src="../assets/img/logo.png" title="The Avengers - Jackpot">
</section>

<section class="menu">


  <div class="buttons">
    <div class="slide">
      <input type="range" min="10" max="1000"  name="speed" value="50" class="slider" [(ngModel)]="speed">
    </div>
    <div class="button slideBtn">
      <a (click)="slowDown()" class="button-text">
        Slower
      </a>
    </div>
    <div class="button slideBtn">
      <a (click)="speedUp()" class="button-text">
        Faster
      </a>
    </div>
    <div class="button">
      <a (click)="addRandomToSpinners()" class="button-text">
        <a>Add</a>
      </a>
    </div>
    <div class="button">
      <a (click)="removeLastSpinner()" class="button-text">
        <a>Remove</a>
      </a>
    </div>
    <div class="button" *ngIf="spin">
      <a class="button-text" (click)="startSpinning()" >
        Stop
      </a>
    </div>
    <div class="button" *ngIf="!spin">
      <a class="button-text" (click)="startSpinning()" >
        Start
      </a>
    </div>
  </div>

</section>

<section class="spinners">
  <div class="flex-container">
    <app-spinner *ngFor="let spinner of spinners; index as i"
                  [figures]="figures"
                  [initialFigure]="spinners[i]"
                  [speed]="speed"
                  [spin]="spin"
                  (stop)="onSpinnerClick($event)">

    </app-spinner>
  </div>
</section>


<section class="winnerText" *ngIf="win">You won!</section>
<section class="winnerText" *ngIf="lose">You lost!<br> <small class="smaller">try again</small>
</section>

<section class="footer">&copy; Rilind Nuka</section>

